body {
  margin-top: 10px;
}

#loggedin-btngroup::after {
  display: none;
}

#search-guide {
  font-size: 80%;
}

#search-input-box { position: relative; }
#search-input-box .fa-search {
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.40);
}

#search-input-box input {
  border: 1px solid rgb(204, 204, 204);
}

#search-form button[type=submit] {
  display: none;
}

#menu button {
  color: rgba(0, 0, 0, 0.40);
}

#results, .results-highlight {
  padding: 0;
}

.results-item {
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.results-item > a {
  color: inherit;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.results-item > a:visited > h3 {
  color: blueviolet;
}

.results-item p, .results-item ul {
  cursor: text;
}

.results-item:hover {
  background: #eee;
}

i.fa {
  color: black
}

.results-item h3 {
  font-size: 16px;
  margin: 0;
  color: #0275d8;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  font-weight: normal;
}

.results-item-path {
  color: #07a077;
  font-size: 70%;
  word-break:break-all;
  margin-bottom: 0.3rem;
}

.results-item-word-count {
  font-size: 0.7em;
  color: gray;
}

.results-item-entities {
  color: gray;
  font-size: 0.7em;
}

.results-item-preview {
  width: 100%;
  height: 2000px;
  background: white;
  border: none;
}

.results-highlight, .results-highlight > li {
  display: inline;
  color: #555;
}

.results-highlight > li {
  cursor: text;
}

.results-highlight em {
  font-style: normal;
  font-weight: bold;
}

.preview-content {
  white-space: pre-wrap;
}

.preview-content em {
  font-style: normal;
  font-weight: bold;
  background: #ddd;
}

.count_by_index > :last-child .comma {
  display: none;
}

.charts {
  overflow: hidden;
}

.charts-pie > * {
  float: left;
}

.charts-pie-slice {
  fill: #eee;
  cursor: pointer;
}

.charts-pie-slice.hover {
  opacity: .6;
}

.charts-pie-legend > div {
  font-size: 12px;
  cursor: pointer;
}

.charts-pie-legend > div.hover {
  text-decoration: underline;
}

.iframe-loading {
  margin-auto: true;
  margin-top: 25px;
  text-align: center;
  line-height: 35px;
}

.loading-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
