body {
  margin-top: 10px;
}

#loggedin-btngroup::after {
  display: none;
}

#search-guide {
  font-size: 80%;
}

#results, .results-highlight {
  padding: 0;
}

.results-item {
  margin-bottom: 10px;
}

.results-item > a {
  color: inherit;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.results-item > a:visited > h3 {
  color: blueviolet;
}

.results-item > a:hover {
  background: #eee;
}

i.fa {
  color: black
}

.results-item h3 {
  font-size: 16px;
  margin: 0;
  color: #0275d8;
}

.results-highlight, .results-highlight > li {
  display: inline;
  color: #555;
}

.results-highlight em {
  font-style: normal;
  font-weight: bold;
}

.preview-content {
  white-space: pre-wrap;
}

.preview-content em {
  font-style: normal;
  font-weight: bold;
  background: #ddd;
}

.count_by_index > :last-child .comma {
  display: none;
}
