body {
  margin-top: 10px;
}

code {
  background: none;
  padding: 0;
  color: #4223DB;
}

#loggedin-btngroup::after {
  display: none;
}

#search-guide {
  font-size: 80%;
}

#search-input-box { position: relative; }
#search-input-box .fa-search {
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.40);
}

#search-input-box input {
  border: 1px solid rgb(204, 204, 204);
}

#search-form button[type=submit] {
  display: none;
}

#menu button {
  color: rgba(0, 0, 0, 0.40);
}

.results-wrapper {
  position: fixed;
  top: 130px;
  bottom: 0;
  left: 18%;
  right: 1%;
}

.results-search {
  overflow-y: auto;
  height: 100%;
}

.results-preview {
  overflow-y: auto;
  height: 100%;
}

#results, .results-highlight {
  padding: 0;
  list-style: none;
}

.results-item {
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.results-item > a {
  color: inherit;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.results-item > a:visited > h3 {
  color: blueviolet;
}

.results-item p, .results-item ul {
  cursor: text;
}

.results-item:hover {
  background: #eee;
}

i.fa {
  color: black
}

.results-item h3 {
  font-size: 16px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  font-weight: normal;
}

.results-item-path {
  color: #07a077;
  font-size: 70%;
  word-break:break-all;
  margin-bottom: 0.3rem;
}

.results-item-word-count {
  font-size: 0.7em;
  color: gray;
}

.results-item-preview {
  width: 100%;
  height: 2000px;
  background: white;
  border: none;
}

.results-highlight, .results-highlight > li {
  display: inline;
  color: #555;
}

.results-highlight > li {
  cursor: text;
}

.results-highlight em {
  font-style: normal;
  font-weight: bold;
}

.preview-content {
  white-space: pre-wrap;
}

.preview-content em {
  font-style: normal;
  font-weight: bold;
  background: #ddd;
}

.count_by_index > :last-child .comma {
  display: none;
}

.charts {
  overflow: hidden;
}

.charts-pie > * {
  float: left;
}

.charts-pie-slice {
  fill: #eee;
  cursor: pointer;
}

.charts-pie-slice.hover {
  opacity: .6;
}

.charts-pie-legend > div {
  font-size: 12px;
  cursor: pointer;
}

.charts-pie-legend > div.hover {
  text-decoration: underline;
}

.loading {
  margin-auto: true;
  margin-top: 25px;
  text-align: center;
  line-height: 35px;
}

.loading-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.doc-page {
  padding-bottom: 15px;
}
.doc-page table {
  margin-top: 10px;
}
.doc-page td {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  font-size: 13px;
  border: none;
}
.doc-page tr:first-child td {
  padding-top: 0;
  border: none;
}
.doc-page td.col {
  width: 110px;
}
.doc-page .lead {
  margin: 15px 20px;
  font-size: 20px;
}
.doc-page .doc-section-title {
  text-transform: uppercase;
  padding: 5px 20px;
  font-size: 14px;
}
.doc-page .nav {
  margin: 15px 20px;
  font-size: 13px;
}
.doc-page .nav .fa {
  color: rgb(57, 83, 194);
  padding-right: 5px;
}
.doc-page .content {
  overflow-wrap: break-word;
  position: relative;
  padding: 5px 20px;
  background: #fff;
  font-size: 13px;
}
.doc-page .content-wrap {
  max-height: 150px;
  overflow: hidden;
  cursor: pointer;
}
.doc-page .content-wrap:before {
  background: linear-gradient(rgba(255, 255, 255, 0), 80.67%, white);
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  left: 0;
  top: 0;
}
.doc-page .expand {
  font-size: 13px;
}
.doc-page .content pre {
  white-space: pre-wrap;
}
