.finder {
    height: 100%;
    overflow-x: auto;
}

.finder .fjs-container {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 12px;
    min-height: 0;
    height: 100%;
    border: none;
}

.finder .fjs-item-content {
    max-width: 200px;
}

.finder .fjs-col {
    min-height: 0;
    max-height: none;
    height: 100%;
}

.finder .fjs-list {
    height: 100%;
}

.finder .fjs-item a {
    justify-content: start;
}

.finder .tree-view-label {
    margin-left: 0.3em;
}
