@import "~react-placeholder/lib/reactPlaceholder.css";
@import "resizer.scss";
@import "~finderjs/example/finderjs.css";

$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

main {
    font-family: $font-family-sans-serif;
}

.no-find {
    font-size: 0;
}

#loggedin-btngroup::after {
    display: none;
}

.mono {
    font-family: $font-family-mono;
}

.results-item h3 {
    font-size: 16px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    font-weight: normal;
}

.results-item-path {
    color: #07a077;
    font-size: 70%;
    word-break: break-all;
    margin-bottom: 0.3rem;
}

.results-item-default {
    font-size: 0.7em;
    color: gray;
}

.results-item-preview {
    width: 100%;
    height: 2000px;
    background: white;
    border: none;
}

mark {
    background-color: rgba(250, 221, 0, 0.5);
    color: #000;
    font-style: normal;
}

.preview-content {
    white-space: pre-wrap;

    em {
        font-style: normal;
        font-weight: bold;
        background: #ddd;
    }
}

.loading {
    margin-top: 25px;
    text-align: center;
    line-height: 35px;
}

.loading-animate {
    -animation: spin 0.7s infinite linear;
}

@keyframes spin2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

.batch-rate-limit-message {
    color: #888;
    font-size: 14px;
    padding: 15px;
}

#batch-results {
    padding: 0;
    list-style: none;
    margin-top: 1em;
}

.batch-results-link {
    display: block;
    font-size: 16px;
}

.batch-results-result {
    width: 7em;
    font-size: 80%;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    color: #888;

    &.error-result {
        color: red;
    }
}

.no-hits a {
    color: #888;
}

div[tabindex="-1"]:focus {
    outline: 0;
}

.finder {
    height: 100%;

    .fjs-container {
        font-family: $font-family-sans-serif;
        font-size: 12px;
        min-height: 0;
        height: 100%;
    }

    .fjs-col {
        min-height: 0;
        max-height: none;
        height: 100%;
    }

    .fjs-list {
        height: 100%;
    }

    .fjs-item a {
        justify-content: start;
    }
}
