@import "./nprogress.scss";
@import "~react-placeholder/lib/reactPlaceholder.css";

$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

main {
    font-family: Roboto, Helvetica Neue, Helvetica, sans-serif;
}

.no-find {
    font-size: 0;
}

body.ReactModal__Body--open {
    overflow-y: hidden;
}

code {
    background: none;
    padding: 0;
    color: #4223db;
}

.navbar-brand {
    letter-spacing: 2px;
}

#loggedin-btngroup::after {
    display: none;
}

#search-batch,
#search-back {
    float: right;
    margin: 0;
}

#results,
.results-highlight {
    padding: 0;
    list-style: none;
}

.results-item {
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.results-item-selected {
    border-left: 1px solid #666;
    background: #eee;
}

.results-item {
    > a {
        color: inherit;
        text-decoration: none;
        display: block;
        font-size: 14px;

        &:visited > h3 {
            color: blueviolet;
        }
    }

    p,
    ul {
        cursor: text;
    }

    &:hover {
        background: #eee;
    }
}

i.fa {
    color: black;
}

.results-item h3 {
    font-size: 16px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    font-weight: normal;
}

.results-item-path {
    color: #07a077;
    font-size: 70%;
    word-break: break-all;
    margin-bottom: 0.3rem;
}

.results-item-default {
    font-size: 0.7em;
    color: gray;
}

.results-item-preview {
    width: 100%;
    height: 2000px;
    background: white;
    border: none;
}

.results-highlight {
    display: inline;
    color: #555;
    font-family: $font-family-mono;
    font-size: .7rem;

    > li {
        display: inline;
        color: #555;
        cursor: text;
    }

    mark {
        background-color: rgba(250, 221, 0, 0.5);
        color: #000;
        font-style: normal;
    }
}

.preview-content {
    white-space: pre-wrap;

    em {
        font-style: normal;
        font-weight: bold;
        background: #ddd;
    }
}

.collections-box {
    label {
        cursor: pointer;
    }
}

.charts {
    overflow: hidden;
}

.charts-pie > * {
    float: left;
}

.charts-pie-slice {
    fill: #eee;
    cursor: pointer;

    &.hover {
        opacity: 0.6;
    }
}

.charts-pie-legend > div {
    font-size: 12px;
    cursor: pointer;

    &.hover {
        text-decoration: underline;
    }
}

.loading {
    margin-auto: true;
    margin-top: 25px;
    text-align: center;
    line-height: 35px;
}

.loading-animate {
    -animation: spin 0.7s infinite linear;
    -webkit-animation: spin2 0.7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

.doc-page {
    padding-bottom: 15px;


    table {
        margin-top: 10px;
    }

    td {
        padding-right: 20px;

        padding-left: 0;
        padding-top: 5px;
        font-size: 13px;
        border: none;
    }

    tr:first-child td {
        padding-top: 0;
        border: none;
    }

    td.col {
        width: 110px;
    }

    .fa {
        color: white;
        padding-right: .5rem;
    }

    .content {
        overflow-wrap: break-word;
        position: relative;
        padding: 1rem 2rem 1rem 0;

        // background: #fff;
        font-size: 13px;
    }

    .content-wrap {
        max-height: 150px;
        overflow: hidden;
        cursor: pointer;

        &:before {
            background: linear-gradient(rgba(255, 255, 255, 0), 80.67%, white);
            position: absolute;
            height: 100%;
            width: 100%;
            content: '';
            left: 0;
            top: 0;
        }
    }

    .expand {
        font-size: 13px;
    }

    .content pre {
        white-space: pre-wrap;
    }
}

.batch-rate-limit-message {
    color: #888;
    font-size: 14px;
    padding: 15px;
}

#batch-results {
    padding: 0;
    list-style: none;
    margin-top: 1em;
}

.batch-results-link {
    display: block;
    font-size: 16px;
}

.batch-results-result {
    width: 7em;
    font-size: 80%;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    color: #888;

    &.error-result {
        color: red;
    }
}

.no-hits a {
    color: #888;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    50% {
        opacity: 0.5;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.date-range-filter {
    .DayPickerInput input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    margin-bottom: .5rem;
}
