@import "~react-placeholder/lib/reactPlaceholder.css";
@import "~pdfjs-dist/web/pdf_viewer.css";
@import "~finderjs/example/finderjs.css";
@import "finder.css";
@import "resizer.css";

main {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.mono {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

mark {
    background-color: rgba(250, 221, 0, 0.5);
    color: #000;
    font-style: normal;
}

mark.current {
    background-color: rgba(255, 150, 50, 0.5);
}

div[tabindex="-1"]:focus {
    outline: 0;
}
