@import "~react-placeholder/lib/reactPlaceholder.css";
@import "resizer.scss";
@import "~finderjs/example/finderjs.css";

$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

main {
    font-family: $font-family-sans-serif;
}

.no-find {
    font-size: 0;
}

.mono {
    font-family: $font-family-mono;
}

mark {
    background-color: rgba(250, 221, 0, 0.5);
    color: #000;
    font-style: normal;
}

div[tabindex="-1"]:focus {
    outline: 0;
}

.finder {
    height: 100%;
    overflow-x: auto;

    .fjs-container {
        font-family: $font-family-sans-serif;
        font-size: 12px;
        min-height: 0;
        height: 100%;
        border: none;
    }

    .fjs-item-content {
        max-width: 200px;
    }

    .fjs-col {
        min-height: 0;
        max-height: none;
        height: 100%;
    }

    .fjs-list {
        height: 100%;
    }

    .fjs-item a {
        justify-content: start;
    }

    .tree-view-label {
        margin-left: 0.3em;
    }
}
